@import "~reflex-grid";

.gallery-widget {
  .tiles-grid {
    width: 100%;

    .tile {
      min-width: 240px !important;
      margin: 5px;
      max-width: calc(33.33% - 10px) !important;
      width: calc(33.33% - 10px);
      height: 380px !important;
      float: left;

      .tile-card {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0.870588);
        background-color: rgb(255, 255, 255);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        border-radius: 2px;
        z-index: 1;

        .tile-card-header {
          padding: 16px;
          position: relative;

          .tile-card-header-title {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.870588);
            display: block;
            line-height: 1em;
            font-style: italic;
          }

          .tile-card-header-subtitle {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.541176);
            display: block;
            padding-top: 20px;
          }

        }

        .tile-card-image-wrapper {
          position: relative;
          max-width: 100%;
          min-width: 100%;
          width: 100%;
        }

        .tile-image {
          width: calc(100% - 20px);
          height: 240px;
          object-fit: cover;
          margin: 10px;
        }
      }
    }
  }

  @media (max-width: 770px) {
    .tiles-grid {
      .tile {
        max-width: calc(50% - 10px) !important;
        width: calc(50% - 10px);
      }
    }
  }

  @media (max-width: 400px) {
    .tiles-grid {
      .tile {
        max-width: calc(100% - 10px) !important;
        width: calc(100% - 10px);
      }
    }
  }
}